{% extends 'base.html' %}
{% load filtros %}
{% block 'conteudo' %}

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo excluir!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="{% url 'excluir_livro' id_livro %}" class="btn btn-danger">Excluir</a>
        </div>
       
      </div>
    </div>
  </div>
  
<div class="container">
<br>
<form action"#" method="POST">
        {% csrf_token %}
            <p>
                <label>Nome do Livro:</label>
                    <input class="form-control" type="text" value={{livro.nome}}></input>
            </p>
            <p>
                <label>Nome do Autor:</label>
                    <input style="width: 40%;" class="form-control" type="text" value={{livro.autor}}></input>    
            </p>
            <p>
                <label>Nome do Co Autor:</label>
                    <input style="width: 40%;" class="form-control" type="text" value={{livro.co_autor}}></input> 
            </p>
            <p>
            <label>Categoria:</label>
            <select name="categoria">
            
                {% for i in categoria_livro%}
                    {% if livro.categoria.nome == i.nome %}
                        <option selected>{{i}}</option>
                    {% else %}
                        <option>{{i}}</option>
                    {% endif %}
                {% endfor %}
            
            </select>
            </p>
            <p>
                <label>Data de Cadastro:</label>   
                    <input style="width: 40%;" class="form-control" type="text" value={{livro.data_cadastro}}></input> 
            </p>   
                <label>Livro Emprestado &nbsp; &nbsp;</label>
                    {% if livro.emprestado %}
                        <input checked class="transform: scale(2.0)" type="checkbox" name="emprestado">   
                    {% else %}
                        <input class="transform: scale(2.0)" type="checkbox" name="emprestado">   
                    {% endif %}
            <br><br>


            <input type="submit" class="btn btn-success btn-lg" value="Salvar">
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
                Excluir
              </button>
</form>

<hr>
<h1> Histórico de Empréstimo</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data de Empréstimo</th>
        <th scope="col">Data de Devolução</th>
        <th scope="col">Duração</th>
      </tr>
    </thead>
    <tbody>
    {% for i in emprestimos%}
                <tr>
                    {% if i.nome_emprestado_anonimo == None %}
                        <th scope="row">{{i.nome_emprestado}}</th>
                    {% else %}
                        <th scope="row">{{i.nome_emprestado_anonimo}}</th>
                    {% endif %}
                        <td>{{i.data_emprestimo}}</td>
                        <td>{{i.data_devolucao}}</td>
                        <td>{{i.data_devolucao|mostra_duracao:i.data_devolucao}} dias</td>
                </tr>
    {% endfor %}
    </tbody>
  </table>


</div>
{% endblock %}